streamlit>=1.31.0
pandas>=2.0.0
numpy>=1.26.0
plotly>=5.18.0

# Pour la cartographie
folium>=0.15.0
streamlit-folium>=0.18.0

# Connexion Databricks (couche data_access)
sqlalchemy>=2.0.0
databricks-sql-connector>=3.0.0
databricks-sqlalchemy>=1.0.0
